# Next.js
/.next

# Build artifacts
/build
/out

# Node.js dependencies
node_modules/

# IDE-specific
.idea

# Environment files
.env
.env.*

# Deployment
.vercel

# debug
*.log
*.log.*
*.stackdump
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/logs/
/log/

# typescript
*.tsbuildinfo
next-env.d.ts

# PWA
**/public/precache.*.*.js
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/fallback-*.js
**/public/precache.*.*.js.map
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
**/public/fallback-*.js
